/* 

PETA US Unsubscribe Pages
1) Email Subscription Landing Page URL:
   4Site - Development - New Unsubscribe Page - List Subscription (Warm Visitor) #48122

2) If the visitor comes to the Landing Page URL cold, they get redirected to this DCF page.
   4Site - Development - New Unsubscribe Page - DCF (Cold Visitor) #53017

3) After either of the above forms is completed, they get redirected here:
   4Site - Development - New Post-Unsubscribe All Page #48388

PETA Latino Unsubscribe Pages
1) Email Subscription Landing Page URL
  4Site - Development - New Latino Unsubscribe Page (Warm Visitor) #49041

2) If the visitor comes to the Landing Page URL cold, they get redirected to this DCF page.
   4Site - Development - PETA Latino - New Unsubscribe Page - DCF (Cold Visitor) #55607

3) After either of the above forms is completed, they get redirected here:
   4Site - Development - New PETA Latino Post-Unsubscribe All Page #49060

Miscellaneous Pages (To Be Deleted After Development)
1) 4Site - Development - New Post-Unsubscribe Mobile Opt-In Page #48210 - Set up by Ry
2) 4Site - Development - New Unsubscribe Page (Take 2) #52319 - Set up by Bryan

*/

// body {
//   border: 5px solid red !important;
// }

[data-page-context="new-unsubscribe"] {
  form[action="/page/48210/data/2"].en__component
    > .en__component--row--1:nth-of-type(2)
    > .en__component--column--1,
  form[action="/page/48388/data/2"].en__component
    > .en__component--row--1:nth-of-type(2)
    > .en__component--column--1,
  form[action="/page/49060/data/2"].en__component
    > .en__component--row--1:nth-of-type(2)
    > .en__component--column--1 {
    padding-left: 0;
    padding-right: 0;
  }

  // .manage-emails-text-block p {
  //   display: none;
  // }

  .manage-emails-text-block h1 {
    font-size: 28px;
  }

  .en__field--emailAddress {
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
  }

  #en__field_supporter_emailAddress {
    height: 48px;
    width: 100% !important;
  }

  #en__field_supporter_emailAddress[disabled] {
    color: #ccc;
  }

  .incorrect-email-link {
    display: none;
    text-decoration: underline;
    font-weight: 600;
    line-height: 20px;
    font-size: 16px;
    letter-spacing: -0.02em;
  }
  .incorrect-email-link p {
    padding-bottom: 0;
  }

  form[action="/page/48122/subscriptions/2"] .incorrect-email-link a,
  form[action="/page/53017/data/2"] .incorrect-email-link a,
  form[action="/page/55607/data/2"] .incorrect-email-link a,
  form[action="/page/49041/subscriptions/2"] .incorrect-email-link a,
  form[action="/page/52319/subscriptions/2"] .incorrect-email-link a {
    color: #00bfb3;
  }

  .manage-emails-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;

    > * {
      width: 100%;
    }
  }

  @at-root html:not([lang="es"]) .manage-emails-container {
    > * {
      max-width: 530px;
    }
  }

  .unsubscribe-options-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    > * {
      width: 100%;
    }
  }

  @at-root html:not([lang="es"]) .unsubscribe-options-header {
    > * {
      max-width: 710px;
    }
  }

  .email-preferences-copy {
    padding-bottom: 32px;
  }

  .less-emails-header,
  .reduce-graphic-imagery-header {
    display: flex;
    column-gap: 18px;
    margin: 0 auto;
    margin-bottom: 16px;
  }

  .less-emails-header h3,
  .reduce-graphic-imagery-header h3 {
    font-weight: 500;
    font-size: 18px;
    margin: 0;
    margin-top: 2px;
  }

  .en__field--reduced-e-mail-program.en__field--radio .en__field__item,
  .en__field--NOT_TAGGED_134.en__field--radio .en__field__item {
    display: flex;
  }

  .show-paragraph-button {
    transform: rotate(-45deg);
  }

  .hide-paragraph-button {
    transform: rotate(0deg);
  }

  .less-emails-section .section-paragraph,
  .graphic-imagery-section .section-paragraph {
    padding: 0;
  }

  .less-emails-section .section-paragraph,
  .graphic-imagery-section .section-paragraph {
    margin-bottom: 24px;
  }

  .hide-paragraph-animation {
    animation: hide 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  }

  .reveal-paragraph {
    height: 100%;
    animation: reveal 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    margin-bottom: 20px;
    height: auto !important;
  }

  .less-emails-button {
    cursor: pointer;
    font-size: 16px;
    background-color: #d32626;
    padding: 15px 20px 13px 20px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    text-align: center;
    min-width: 238px;
    max-width: 272px;
    margin: 0 auto;
    max-width: 392px;
    background-color: #ef4136;
    border-radius: 0;
    // max-width: 176px;
    min-width: none;
  }

  .unsubscribe-options-header h3 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 12px;
  }

  .en__field--podcast-e-news label {
    font-style: italic;
  }

  .required-action-team-fields {
    width: fit-content;
    margin: 0 auto;
    max-width: 258px;
    margin-left: 35px;
    .action-team-signup-field-label {
      font-weight: 700;

      &:after {
        content: none;
      }
    }
  }

  .less-emails-picker > .en__field--question,
  .reduce-graphic-imagery-picker .en__field--radio {
    padding-bottom: 0;
  }

  .less-emails-picker .en__field--question > .en__field__label,
  .reduce-graphic-imagery-picker .en__field--radio > .en__field__label {
    font-weight: 700;
  }

  .subscription_title > .en__field--checkbox {
    > .en__field__label {
      width: fit-content;
      cursor: pointer;
      position: relative;
      top: -3px;
      max-width: calc(100% - 36px);
    }

    .en__field__input--checkbox {
      cursor: pointer;
    }
  }

  .graphic-slider {
    cursor: pointer;
  }

  .graphic-slider rect {
    transition: all 0.3s;
  }

  .graphic-slider.slider-enabled circle {
    fill: white;
  }

  .graphic-slider.slider-enabled rect {
    fill: #41de42; // #418fde
  }

  .off-text,
  .on-text {
    transition: all 0.3s;
  }

  .slider-disabled .off-text {
    opacity: 1;
  }

  .slider-disabled .on-text {
    opacity: 0;
  }

  .slider-enabled .off-text {
    opacity: 0;
  }

  .slider-enabled .on-text {
    opacity: 1;
  }

  .slider-enabled circle {
    cx: 45px;
  }

  .enable-graphic-images {
    animation: turn-on 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    transform: translate(27px, 0);
  }

  .disable-graphic-images {
    animation: turn-off 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    transform: translate(0, 0);
  }

  body:not(#en__pagebuilder) .en__field--178 {
    visibility: hidden;
    height: 0;
    padding-bottom: 0;
  }

  form[action="/page/48122/subscriptions/2"] .unsubscribe-all-button,
  form[action="/page/53017/data/2"] .unsubscribe-all-button,
  form[action="/page/55607/data/2"] .unsubscribe-all-button,
  form[action="/page/49041/subscriptions/2"] .unsubscribe-all-button,
  form[action="/page/52319/subscriptions/2"] .unsubscribe-all-button {
    color: #ef4136;
  }

  .en__field--NOT_TAGGED_134 .en__field__element,
  .en__field--1855 .en__field__element {
    display: flex;
    flex-direction: column;
  }

  .en__field--NOT_TAGGED_134 .en__field__element .en__field__label--item,
  .en__field--1855 .en__field__element .en__field__label--item {
    position: relative;
    // top: -3px;
  }

  .unsubscribe-all-button {
    text-align: center;
    color: #d32626;
    font-weight: 600;
    text-decoration: underline;
    font-size: 16px;
    cursor: pointer;
    width: fit-content;
    margin: 0 auto;
  }

  .preference-update-header {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 24px;
  }

  .preference-update-header p {
    padding-bottom: 0;
  }

  .preference-update-header h1,
  .preference-update-header h2 {
    color: #254d68;
  }

  .preference-update-header h1 {
    font-size: 28px;
    margin-bottom: 0;
  }

  .preference-update-header .unsubscribe-all-header {
    margin-bottom: 15px;
  }

  .preference-update-header h2 {
    font-size: 20px;
    padding: 0;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 16px;
  }

  .mobile-advocacy-parent {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  form[action="/page/49060/data/2"] .mobile-advocacy-header {
    background-color: #5160f1;
  }

  .mobile-advocacy-header {
    background-color: #418fde;
    width: 100vw;
    display: flex;
    height: 128px;
    overflow: hidden;
    position: relative;
  }

  .mobile-advocacy-header p:not(.mobile-join-button) {
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    min-width: 210px;
    padding: 25px 24px;
    letter-spacing: -0.03em;
  }

  .mobile-advocacy-header img {
    width: 206px;
    height: 239px;
    position: relative;
    right: 65px;
    bottom: 20px;
  }

  form[action="/page/49060/data/2"] .mobile-advocacy-section {
    background-color: #19252e;
  }

  .mobile-advocacy-section {
    color: white;
    padding: 16px 24px;
    background-color: #254d68;
    width: 100vw;
  }

  .mobile-advocacy-section > p:first-child {
    font-size: 16px;
  }

  .mobile-advocacy-section > p:nth-child(2) {
    font-size: 12px;
  }

  .mobile-advocacy-section a {
    color: #a3d1d6;
  }

  form[action="/page/49060/data/2"] .mobile-join-button {
    background-color: #00bfb3;
    border-radius: 0;
  }

  form[action="/page/49060/data/2"]
    .mobile-advocacy-header
    .mobile-join-button {
    display: none;
  }

  .mobile-join-button {
    cursor: pointer;
    background-color: #418fde;
    width: fit-content;
    padding: 15px 20px 13px 20px;
    min-width: 172px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    border-radius: 5px;
  }

  .mobile-join-button a {
    color: white;
  }

  .latino-header-join-button {
    display: none;
  }

  .en__field--178 {
    visibility: hidden;
  }

  .en__submit {
    margin-top: 32px;
  }

  form[action="/page/48122/subscriptions/2"] .en__submit button,
  form[action="/page/53017/data/2"] .en__submit button,
  form[action="/page/55607/data/2"] .en__submit button,
  form[action="/page/49041/subscriptions/2"] .en__submit button,
  form[action="/page/52319/subscriptions/2"] .en__submit button {
    background-color: #ef4136;
    border-radius: 0;
  }

  .privacy-policy {
    text-align: center;
  }

  .less-emails-header,
  .reduce-graphic-imagery-header {
    justify-content: flex-start;
    align-items: center;
  }

  @media screen and (min-width: 480px) {
    .less-emails-header h3,
    .reduce-graphic-imagery-header h3 {
      font-size: 26px;
    }
  }

  @media screen and (max-width: 479px) {
    .less-emails-header h3,
    .reduce-graphic-imagery-header h3 {
      font-size: 16px;
      font-weight: 600;
    }
  }

  @keyframes reveal {
    0% {
      max-height: 0;
    }
    100% {
      max-height: 650px;
    }
  }

  @keyframes hide {
    0% {
      max-height: 650px;
    }

    100% {
      max-height: 0;
    }
  }

  @keyframes turn-off {
    0% {
      transform: translate(27px, 0);
    }

    100% {
      transform: translate(0, 0);
    }
  }

  @keyframes turn-on {
    0% {
      transform: translate(0, 0);
    }

    100% {
      transform: translate(27px, 0);
    }
  }

  @media (min-width: 600px) {
    form[action="/page/48122/subscriptions/2"].en__component
      .en__component--row--1:nth-of-type(2)
      > .en__component.en__component--column--1,
    form[action="/page/53017/data/2"].en__component
      .en__component--row--1:nth-of-type(2)
      > .en__component.en__component--column--1,
    form[action="/page/55607/data/2"].en__component
      .en__component--row--1:nth-of-type(2)
      > .en__component.en__component--column--1,
    form[action="/page/49041/subscriptions/2"].en__component
      .en__component--row--1:nth-of-type(2)
      > .en__component.en__component--column--1,
    form[action="/page/52319/subscriptions/2"].en__component
      .en__component--row--1:nth-of-type(2)
      > .en__component.en__component--column--1 {
      /* margin-left: 32px; */
      // max-width: 775px;
      // padding-bottom: 26px;
    }

    .incorrect-email-link {
      line-height: 22px;
    }

    .incorrect-email-link p {
      height: 44px;
    }

    .manage-emails-text-block {
      margin-bottom: 25px;
    }

    .manage-emails-text-block h1 {
      font-size: 32px;
    }

    #en__field_supporter_emailAddress {
      padding-bottom: 8px;
    }

    #en__field_supporter_emailAddress {
      width: 100%;
    }

    .graphic-imagery-section {
      margin-top: 32px;
    }

    .less-emails-section .hide-paragraph-button,
    .graphic-imagery-section .hide-paragraph-button {
      display: none;
    }

    .section-paragraph {
      height: 100%;
      animation: none;
    }

    .unsubscribe-options-header h3 {
      font-size: 26px;
      margin-top: 0;
    }

    .mobile-advocacy-header {
      column-gap: 10%;
      justify-content: center;
      width: 100%;
    }

    .mobile-advocacy-section {
      width: 100%;
    }
    .en__submit {
      margin-top: 0px;
    }

    .privacy-policy {
      text-align: left;
    }
  }

  .dcf-receive-fewer-emails-container-and-reduce-graphic-imagery-container {
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 0 1rem 2rem 1rem;
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    justify-items: center;

    .en__field--checkbox .en__field__item {
      padding-top: 0px !important; /* PETA Latino pages have a different value than vanilla PETA pages, this makes them the same */
    }

    .en__field--checkbox .en__field__label--item {
      margin-top: 0px !important; /* PETA Latino pages have a different value than vanilla PETA pages, this makes them the same */
      margin-left: 0px !important; /* PETA Latino pages have a different value than vanilla PETA pages, this makes them the same */
    }

    .en__field__label {
      line-height: 1.4 !important; /* PETA Latino pages have a different value than vanilla PETA pages, this makes them the same */
    }

    .en__field__input--checkbox {
      margin: 0 !important;
      flex-basis: initial;
    }

    .en__field--checkbox label {
      width: 100%;
    }

    #en__field_supporter_questions_1855 + label {
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px, 1px, 1px, 1px);
      height: 1px;
      overflow: hidden;
      position: absolute !important;
      width: 1px;
    }

    #en__field_supporter_NOT_TAGGED_134 {
      width: 23px;
      height: 23px;
    }

    & + div .en__field--checkbox[style*="overflow-x"] {
      display: none; /* Hides Remember Me which was showing up on PETA Latino pages */
    }
  }

  .dcf-receive-fewer-emails-container {
    justify-self: flex-end;
  }

  .dcf-reduce-graphic-imagery-container {
    justify-self: flex-start;
  }

  .dcf-receive-fewer-emails-container,
  .dcf-reduce-graphic-imagery-container {
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    max-width: 352px;
    padding: 1rem;
    flex: 1 0 auto;
    height: 100%;
    // cursor: pointer;

    .en__field__item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 0;
      gap: 15px;
    }
  }

  .dcf-receive-fewer-emails-container label,
  .dcf-reduce-graphic-imagery-container label {
    font-size: 22px !important;
    font-weight: 700;
    flex-basis: 100%;
    padding-bottom: 0;
  }

  .dcf-receive-fewer-emails-container p,
  .dcf-reduce-graphic-imagery-container p {
    line-height: 1.25rem;
    font-size: 14px;
    padding-bottom: 0;
  }

  .dcf-receive-fewer-emails-container
    .en__field__element--checkbox
    .en__field__item,
  .dcf-reduce-graphic-imagery-container
    .en__field__element--checkbox
    .en__field__item {
    padding-bottom: 0;
  }

  .dcf-receive-fewer-emails-container .en__field--1855 {
    display: flex !important; /* PETA Latino pages have a different value than vanilla PETA pages, this makes them the same */
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
  }

  .el-receive-fewer-emails-container,
  .el-reduce-graphic-imagery-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .el-receive-fewer-emails-container > *:first-child,
  .el-reduce-graphic-imagery-container > *:first-child {
    border: 1px solid #c5c5c5;
    padding: 24px 32px 32px 32px;
    margin-bottom: 48px;
  }

  @at-root html:not([lang="es"]) {
    .el-receive-fewer-emails-container > *:first-child,
    .el-reduce-graphic-imagery-container > *:first-child {
      max-width: 775px;
    }
  }

  .privacy-policy {
    margin-left: auto;
    margin-right: auto;
  }

  @at-root html:not([lang="es"]) .privacy-policy {
    max-width: 630px;
  }

  .email-preferences-copy {
    margin-left: auto;
    margin-right: auto;
  }

  @at-root html:not([lang="es"]) .email-preferences-copy {
    max-width: 630px;
  }

  .en__component--advcolumn.center .en__field--emailAddress {
    max-width: 325px;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: 900px) {
    .dcf-receive-fewer-emails-container-and-reduce-graphic-imagery-container {
      display: flex !important;
      flex-direction: column;
    }

    .dcf-receive-fewer-emails-container,
    .dcf-reduce-graphic-imagery-container {
      max-width: 450px;
    }
  }

  @media (min-width: 900px) {
    .el-opt-in-columns {
      justify-content: center;
    }

    .el-opt-in-column {
      max-width: 379px;
    }

    .preference-update-header {
      margin: 0 auto;
      max-width: 712px;
      margin-bottom: 48px;
    }

    .preference-update-header h1 {
      font-size: 54px;
      font-weight: 800;
      line-height: 38px;
    }

    .preference-update-header h2 {
      font-size: 26px;
      line-height: 38px;
      margin-top: 10px;
    }

    .mobile-advocacy-header,
    .mobile-advocacy-section,
    form[action="/page/49060/data/2"] .mobile-advocacy-header,
    form[action="/page/49060/data/2"] .mobile-advocacy-section {
      background: transparent;
    }

    .mobile-advocacy-header {
      height: auto;
      overflow: visible;
      justify-content: initial;
    }

    .mobile-advocacy-header p:not(.mobile-join-button) {
      font-size: 32px;
      width: 240px;
      line-height: 38px;
      padding: 0;
      margin-top: 37px;
      margin-left: 50px;
    }

    .mobile-advocacy-header img {
      width: 258px;
      height: auto;
      transform: scaleX(-1);
      right: -70px;
      bottom: -140px;
      position: absolute;
    }

    .mobile-advocacy-section {
      padding: 26px 62px;
    }

    .mobile-advocacy-section > p:nth-child(2) {
      font-size: 13px;
    }

    .mobile-advocacy-section p:last-child {
      line-height: 20px;
    }

    .latino-mobile-advocacy-header {
      display: flex;
      flex-direction: column;
      row-gap: 32px;
    }

    form[action="/page/49060/data/2"]
      .mobile-advocacy-header
      .mobile-join-button {
      display: block;
      cursor: pointer;
      width: fit-content;
      padding: 15px 20px 13px 20px;
      min-width: 172px;
      text-align: center;
      font-weight: 600;
      font-size: 16px;
      line-height: 18px;
      margin-left: 50px;
    }

    form[action="/page/49060/data/2"]
      .mobile-advocacy-section
      .mobile-join-button {
      // display: none;
    }

    form[action="/page/49060/data/2"] .mobile-advocacy-parent {
      background-image: linear-gradient(
        -70deg,
        #19252e,
        #19252e 55%,
        #5160f1 38%,
        #5160f1
      );
    }

    form[action="/page/49060/data/2"] .mobile-advocacy-header img {
      width: 320px;
      right: -110px;
      bottom: -180px;
    }

    .mobile-advocacy-parent {
      background-image: linear-gradient(
        -70deg,
        #254d68,
        #254d68 55%,
        #418fde 38%,
        #418fde
      );
      flex-direction: row;
      overflow: hidden;
      min-height: 305px;
    }
  }

  @media screen and (max-width: 600px) {
    .unsubscribe-options-header h3 {
      margin-top: 0px;
    }
  }

  @media screen and (max-width: 832px) {
    .unsubscribe-options-header > * {
      max-width: 100%;
    }
  }

  [name="supporter.questions.1855"],
  [name="supporter.NOT_TAGGED_134"],
  div:not(.less-emails-picker) > .en__field--1855 > label {
    cursor: pointer;
  }

  &:not(#en__pagebuilder)
    div:not(.dcf-receive-fewer-emails-container)
    > div
    > .en__field--1855 {
    display: none;
  }

  &:not(#en__pagebuilder)[data-status]:not([data-status="update"])
    .has-status_update,
  &:not(#en__pagebuilder):not([data-status="unsubscribe"])
    .has-status_unsubscribe {
    display: none;
  }

  &[data-custom-js="loaded"] {
    opacity: 1;
  }

  #pb_49041 .en__field--emailAddress + .en__field--checkbox[style],
  #pb_49041
    .en__field--emailAddress
    + .en__field--checkbox:has(.rememberme-wrapper) {
    display: none !important;
  }

  // Hide the Remember Me "clear" message
  #clear-autofill-data {
    display: none !important;
  }
}
