/* 

PETA US Unsubscribe Pages
1) Landing Page URL:
   4Site - Development - New Unsubscribe Page - List Subscription (Warm Visitor) #48122

2) If the visitor comes to the Landing Page URL cold, they get redirected here:
   4Site - Development - New Unsubscribe Page - DCF (Cold Visitor) #53017

3) After either of the above forms is completed, they get redirected here:
   4Site - Development - New Post-Unsubscribe All Page #48388

PETA Latino Unsubscribe Pages
1) Landing Page URL
   4Site - Development - New Latino Unsubscribe Page #49041

2) If the visitor comes to the Landing Page URL cold, they get redirected here:
   TBD

3) After either of the above forms is completed, they get redirected here:
   	4Site - Development - New Latino Post-Unsubscribe Mobile Opt-In Page #49060

Miscellaneous Pages
1) Page 48210: PETA Thank You For Updating Your Preferences Page
2) Page 52319: 4Site - Development - New Unsubscribe Page (Take 2)

*/

form[action="/page/48122/subscriptions/2"].en__component
  .en__component--row--1:nth-of-type(2)
  > .en__component.en__component--column--1,
form[action="/page/53017/data/2"].en__component
  .en__component--row--1:nth-of-type(2)
  > .en__component.en__component--column--1,
form[action="/page/49041/subscriptions/2"].en__component
  .en__component--row--1:nth-of-type(2)
  > .en__component.en__component--column--1,
form[action="/page/52319/subscriptions/2"].en__component
  .en__component--row--1:nth-of-type(2)
  > .en__component.en__component--column--1 {
  max-width: 300px;
  margin: 0 auto;
  padding-bottom: 32px;
}

form[action="/page/48210/data/2"].en__component
  > .en__component--row--1:nth-of-type(2)
  > .en__component--column--1,
form[action="/page/48388/data/2"].en__component
  > .en__component--row--1:nth-of-type(2)
  > .en__component--column--1,
form[action="/page/49060/data/2"].en__component
  > .en__component--row--1:nth-of-type(2)
  > .en__component--column--1 {
  padding-left: 0;
  padding-right: 0;
}

.manage-emails-text-block p {
  display: none;
}

.manage-emails-text-block h1 {
  font-size: 28px;
}

.en__field--emailAddress {
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
}

.en__field--emailAddress input {
  color: #ccc;
  height: 48px;
}

.incorrect-email-link {
  display: none;
  text-decoration: underline;
  font-weight: 600;
  line-height: 20px;
  font-size: 16px;
  letter-spacing: -0.02em;
}
.incorrect-email-link p {
  padding-bottom: 0;
}

form[action="/page/48122/subscriptions/2"] .incorrect-email-link a,
form[action="/page/53017/data/2"] .incorrect-email-link a,
form[action="/page/49041/subscriptions/2"] .incorrect-email-link a,
form[action="/page/52319/subscriptions/2"] .incorrect-email-link a {
  color: #00bfb3;
}

.less-emails-section {
  border: 1px solid #c5c5c5;
  max-width: 272px;
  padding: 11px 18px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.less-emails-header {
  justify-content: center;
  display: flex;
  column-gap: 18px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.less-emails-header h3 {
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  margin-top: 2px;
}

.less-emails-section svg {
  transition: 0.3s;
}

.show-paragraph-button {
  transform: rotate(-45deg);
}

.hide-paragraph-button {
  transform: rotate(0deg);
}

.less-emails-paragraph {
  padding: 0;
  overflow: hidden;
  transition: 0.5s;
}

.hide-paragraph-animation {
  animation: hide 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.hide-less-emails-paragraph {
  height: 0;
}

.reveal-paragraph {
  height: 100%;
  animation: reveal 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  margin-bottom: 20px;
}

.less-emails-button {
  cursor: pointer;
  font-size: 16px;
  background-color: #d32626;
  padding: 15px 20px 13px 20px;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  text-align: center;
  min-width: 238px;
  max-width: 272px;
  margin: 0 auto;
}

form[action="/page/48122/subscriptions/2"] .less-emails-button,
form[action="/page/52017/subscriptions/2"] .less-emails-button,
form[action="/page/49041/subscriptions/2"] .less-emails-button,
form[action="/page/52319/subscriptions/2"] .less-emails-button {
  max-width: 392px;
  background-color: #ef4136;
  border-radius: 0;
}

.unsubscribe-options-header h3 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 12px;
}

.en__field--podcast-e-news label {
  font-style: italic;
}

.required-action-team-fields {
  width: fit-content;
  margin: 0 auto;
  max-width: 258px;
  margin-left: 35px;
}

.subscription_title > .en__field--checkbox > .en__field__label {
  width: fit-content;
  cursor: pointer;
}

.graphic-imagery-section {
  border: 1px solid #c5c5c5;
  padding: 20px 16px 16px 16px;
}

.graphic-imagery-section h4 {
  line-height: 22px;
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 6px;
}

.graphic-imagery-section p {
  font-size: 12px;
  font-style: italic;
  line-height: 18px;
  padding: 0;
}

.graphic-slider {
  cursor: pointer;
  margin-top: 16px;
}

.graphic-slider rect {
  transition: all 0.3s;
}

.latino-graphic-slider.slider-enabled circle {
  fill: white;
}

.latino-graphic-slider.slider-enabled rect {
  fill: #418fde;
}

.off-text,
.on-text {
  transition: all 0.3s;
}

.slider-disabled .off-text {
  opacity: 1;
}

.slider-disabled .on-text {
  opacity: 0;
}

.slider-enabled .off-text {
  opacity: 0;
}

.slider-enabled .on-text {
  opacity: 1;
}

.enable-graphic-images {
  animation: turn-on 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transform: translate(27px, 0);
}

.disable-graphic-images {
  animation: turn-off 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transform: translate(0, 0);
}

body:not(#en__pagebuilder) .en__field--NOT_TAGGED_134,
body:not(#en__pagebuilder) .en__field--178,
body:not(#en__pagebuilder) .en__field--1855 {
  visibility: hidden;
  height: 0;
  padding-bottom: 0;
}

form[action="/page/48122/subscriptions/2"] .unsubscribe-all-button,
form[action="/page/53017/data/2"] .unsubscribe-all-button,
form[action="/page/49041/subscriptions/2"] .unsubscribe-all-button,
form[action="/page/52319/subscriptions/2"] .unsubscribe-all-button {
  color: #ef4136;
}

.unsubscribe-all-button {
  text-align: center;
  color: #d32626;
  font-weight: 600;
  text-decoration: underline;
  font-size: 16px;
  cursor: pointer;
  width: fit-content;
  margin: 0 auto;
}

.preference-update-header {
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 24px;
}

.preference-update-header p {
  padding-bottom: 0;
}

.preference-update-header h1,
.preference-update-header h2 {
  color: #254d68;
}

.preference-update-header h1 {
  font-size: 28px;
  margin-bottom: 0;
}

.preference-update-header .unsubscribe-all-header {
  margin-bottom: 15px;
}

.preference-update-header h2 {
  font-size: 20px;
  padding: 0;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 16px;
}

.mobile-advocacy-parent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form[action="/page/49060/data/2"] .mobile-advocacy-header {
  background-color: #5160f1;
}

.mobile-advocacy-header {
  background-color: #418fde;
  width: 100vw;
  display: flex;
  height: 128px;
  overflow: hidden;
  position: relative;
}

.mobile-advocacy-header p:not(.mobile-join-button) {
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  min-width: 210px;
  padding: 25px 24px;
  letter-spacing: -0.03em;
}

.mobile-advocacy-header img {
  width: 206px;
  height: 239px;
  position: relative;
  right: 65px;
  bottom: 20px;
}

form[action="/page/49060/data/2"] .mobile-advocacy-section {
  background-color: #19252e;
}

.mobile-advocacy-section {
  color: white;
  padding: 16px 24px;
  background-color: #254d68;
  width: 100vw;
}

.mobile-advocacy-section > p:first-child {
  font-size: 16px;
}

.mobile-advocacy-section > p:nth-child(2) {
  font-size: 12px;
}

.mobile-advocacy-section a {
  color: #a3d1d6;
}

form[action="/page/49060/data/2"] .mobile-join-button {
  background-color: #00bfb3;
  border-radius: 0;
}

form[action="/page/49060/data/2"] .mobile-advocacy-header .mobile-join-button {
  display: none;
}

.mobile-join-button {
  cursor: pointer;
  background-color: #418fde;
  width: fit-content;
  padding: 15px 20px 13px 20px;
  min-width: 172px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  border-radius: 5px;
}

.mobile-join-button a {
  color: white;
}

.latino-header-join-button {
  display: none;
}

.en__field--178 {
  visibility: hidden;
}

.en__submit {
  margin-top: 32px;
}

form[action="/page/48122/subscriptions/2"] .en__submit button,
form[action="/page/53017/data/2"] .en__submit button,
form[action="/page/49041/subscriptions/2"] .en__submit button,
form[action="/page/52319/subscriptions/2"] .en__submit button {
  background-color: #ef4136;
  border-radius: 0;
}

.privacy-policy {
  text-align: center;
}

@keyframes reveal {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 650px;
  }
}

@keyframes hide {
  0% {
    max-height: 650px;
  }

  100% {
    max-height: 0;
  }
}

@keyframes turn-off {
  0% {
    transform: translate(27px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes turn-on {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(27px, 0);
  }
}

@media (min-width: 600px) {
  form[action="/page/48122/subscriptions/2"].en__component
    .en__component--row--1:nth-of-type(2)
    > .en__component.en__component--column--1,
  form[action="/page/53017/data/2"].en__component
    .en__component--row--1:nth-of-type(2)
    > .en__component.en__component--column--1,
  form[action="/page/49041/subscriptions/2"].en__component
    .en__component--row--1:nth-of-type(2)
    > .en__component.en__component--column--1,
  form[action="/page/52319/subscriptions/2"].en__component
    .en__component--row--1:nth-of-type(2)
    > .en__component.en__component--column--1 {
    margin-left: 32px;
    max-width: 775px;
    padding-bottom: 26px;
  }

  .incorrect-email-link {
    line-height: 22px;
  }

  .incorrect-email-link p {
    height: 44px;
  }

  .manage-emails-text-block {
    margin-bottom: 25px;
  }

  .manage-emails-text-block h1 {
    font-size: 32px;
  }

  .en__field--emailAddress input {
    padding-bottom: 8px;
  }

  .en__field--emailAddress input {
    width: 510px;
  }

  .less-emails-section {
    max-width: 775px;
    padding: 24px 32px 32px 32px;
    margin-bottom: 48px;
  }

  .less-emails-section svg {
    display: none;
  }

  .less-emails-section .less-emails-paragraph {
    height: 100%;
    margin-bottom: 24px;
  }

  .less-emails-header {
    justify-content: flex-start;
  }

  .less-emails-header h3 {
    font-size: 26px;
  }

  .less-emails-button {
    max-width: 176px;
    min-width: none;
  }

  .unsubscribe-options-header h3 {
    font-size: 26px;
    margin-top: 0;
  }

  form[action="/page/48122/subscriptions/2"].en__component
    .en__component--row--1:nth-of-type(4)
    > .en__component--column--1,
  form[action="/page/53017/data/2"].en__component
    .en__component--row--1:nth-of-type(4)
    > .en__component--column--1,
  form[action="/page/49041/subscriptions/2"].en__component
    .en__component--row--1:nth-of-type(4)
    > .en__component--column--1,
  form[action="/page/52319/subscriptions/2"].en__component
    .en__component--row--1:nth-of-type(4)
    > .en__component--column--1 {
    max-width: 711px;
    margin: 0 auto;
    padding: 0;
  }

  form[action="/page/48122/subscriptions/2"].en__component
    > .en__component--row:nth-of-type(5),
  form[action="/page/53017/data/2"].en__component
    > .en__component--row:nth-of-type(5),
  form[action="/page/49041/subscriptions/2"].en__component
    > .en__component--row:nth-of-type(5),
  form[action="/page/52319/subscriptions/2"].en__component
    > .en__component--row:nth-of-type(5) {
    justify-content: center;
  }

  form[action="/page/48122/subscriptions/2"].en__component
    > .en__component--row:nth-of-type(5)
    .en__component--column,
  form[action="/page/53017/data/2"].en__component
    > .en__component--row:nth-of-type(5)
    .en__component--column,
  form[action="/page/49041/subscriptions/2"].en__component
    > .en__component--row:nth-of-type(5)
    .en__component--column,
  form[action="/page/52319/subscriptions/2"].en__component
    > .en__component--row:nth-of-type(5)
    .en__component--column {
    max-width: 400px;
  }

  .mobile-advocacy-header {
    column-gap: 10%;
    justify-content: center;
    width: 100%;
  }

  .mobile-advocacy-section {
    width: 100%;
  }

  .graphic-imagery-section {
    margin: 0 auto;
    margin-top: 48px;
    max-width: 775px;
    display: flex;
    column-gap: 56px;
    align-items: center;
    padding: 20px 32px;
  }

  .graphic-imagery-section p {
    font-size: 13px;
    font-style: italic;
    line-height: 20px;
  }

  .graphic-slider {
    margin: 0;
  }

  .en__submit {
    margin-top: 48px;
  }

  .privacy-policy {
    text-align: left;
  }
}

@media (min-width: 900px) {
  form[action="/page/48122/subscriptions/2"].en__component
    .en__component--row--1:nth-of-type(2)
    > .en__component.en__component--column--1,
  form[action="/page/53017/data/2"].en__component
    .en__component--row--1:nth-of-type(2)
    > .en__component.en__component--column--1,
  form[action="/page/49041/subscriptions/2"].en__component
    .en__component--row--1:nth-of-type(2)
    > .en__component.en__component--column--1,
  form[action="/page/52319/subscriptions/2"].en__component
    .en__component--row--1:nth-of-type(2)
    > .en__component.en__component--column--1 {
    margin-left: 107px;
  }

  .preference-update-header {
    margin: 0 auto;
    max-width: 712px;
    margin-bottom: 48px;
  }

  .preference-update-header h1 {
    font-size: 54px;
    font-weight: 800;
    line-height: 38px;
  }

  .preference-update-header h2 {
    font-size: 26px;
    line-height: 38px;
    margin-top: 10px;
  }

  .mobile-advocacy-header,
  .mobile-advocacy-section,
  form[action="/page/49060/data/2"] .mobile-advocacy-header,
  form[action="/page/49060/data/2"] .mobile-advocacy-section {
    background: transparent;
  }

  .mobile-advocacy-header {
    height: auto;
    overflow: visible;
    justify-content: initial;
  }

  .mobile-advocacy-header p:not(.mobile-join-button) {
    font-size: 32px;
    width: 240px;
    line-height: 38px;
    padding: 0;
    margin-top: 37px;
    margin-left: 50px;
  }

  .mobile-advocacy-header img {
    width: 258px;
    height: auto;
    transform: scaleX(-1);
    right: -70px;
    bottom: -140px;
    position: absolute;
  }

  .mobile-advocacy-section {
    padding: 26px 62px;
  }

  .mobile-advocacy-section > p:nth-child(2) {
    font-size: 13px;
  }

  .mobile-advocacy-section p:last-child {
    line-height: 20px;
  }

  .latino-mobile-advocacy-header {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }

  form[action="/page/49060/data/2"]
    .mobile-advocacy-header
    .mobile-join-button {
    display: block;
    cursor: pointer;
    width: fit-content;
    padding: 15px 20px 13px 20px;
    min-width: 172px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    margin-left: 50px;
  }

  form[action="/page/49060/data/2"]
    .mobile-advocacy-section
    .mobile-join-button {
    display: none;
  }

  form[action="/page/49060/data/2"] .mobile-advocacy-parent {
    background-image: linear-gradient(
      -70deg,
      #19252e,
      #19252e 55%,
      #5160f1 38%,
      #5160f1
    );
  }

  form[action="/page/49060/data/2"] .mobile-advocacy-header img {
    width: 320px;
    right: -110px;
    bottom: -180px;
  }

  .mobile-advocacy-parent {
    background-image: linear-gradient(
      -70deg,
      #254d68,
      #254d68 55%,
      #418fde 38%,
      #418fde
    );
    flex-direction: row;
    overflow: hidden;
    height: 305px;
  }
}
